<h2 mat-dialog-title>Add Transfer</h2>
<mat-dialog-content>
<form [formGroup]="form" class ="container" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select formControlName="sourceTeamId" (selectionChange)="onSourceTeamChange($event)">
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Choose a player</mat-label>
      <mat-select formControlName="playerId">
        <mat-option *ngFor="let player of players" [value]="player.id">{{ player.name }} {{player.surname}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select formControlName="targetTeamId">
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-dialog-content>
  